[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/doxygen-awesome-css"]
	path = ThirdParty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/RahulVadhyar/imgui
[submodule "ThirdParty/earcut.hpp"]
	path = ThirdParty/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp
